/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 28px;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

input,
button {
  font-family: inherit;
  line-height: inherit;
}

input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background: #fff;
  padding: 8px 16px;
}

input:hover,
input:focus {
  border: 1px solid #000;
  color: #2e2f42;
}

input:active {
  border: 1px solid #4e75ff;
}

input::placeholder {
  color: #808080;
  font-weight: 400;
}

button {
  width: 75px;
  height: 40px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
}

.load-more-btn {
  width: 125px;
  height: 40px;
  margin: 0 auto;
}

button:hover,
button:focus {
  background: #6c8cff;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1158px;
  margin: 0 auto;
  gap: 24px;
  list-style: none;
}

.gallery {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.image-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-description {
  display: flex;
  margin-top: 8px;
}

p {
  font-weight: bold;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
